/* Generic Selectors */
 
body {
   margin: 0px;
   width:100%;
   font-family: "Arial", Helvetica, sans-serif;
   font-size: 13px;
   background-color: #F5F5F5;
}
 
p {
   font-size: 13px;}

table {
   font-size: 13px;}
 
/**************** Pseudo classes ****************/

a:link {
   color: #000080;
   text-decoration: none;
}
 
a:visited {
   color: #000080;
   text-decoration: none;
}
 
a:hover {
   color: #7DAA41;
   text-decoration: underline;
   font-weight: bold;
   font-style: normal;
}

a:active {
   color: #000080;
   font-weight: bold;
   font-style: normal;
}.title  {
   font-weight: bold;
   font-size: 12px;
   line-height: 200%;
}


/************************* ID's *************************/
#topDoc {
   padding: 10px 0px 0px 25px; /*top right bottom left*/
   background-color: #FFFFFF;
   border-bottom: 4px solid #888888;
}


#centerDoc {
   margin-top: 5px;
   margin-bottom: 10px;
   margin-right: 5px;
   margin-left: 5px;
   padding: 20px 20px 20px 20px; /*top right bottom left*/
   background-color: #EEEEEE;
}

#bottomDoc {
   clear: both;
   width: 100%;
   padding: 5px 0 5px 0; /*top right bottom left*/
   font-size: 11px;
   background-color: #DDDDDD;
}

#bottomDoc p {
   text-align: center;
   color: #000000;
}

#bottomDoc a {
   color: #000000;
}
