/* login, logout, help pages */
/* main body */
html * {
	MARGIN: 0px:
	PADDING: 0px;
}

body {
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12pt;
	COLOR: #2C2C2C;
}

a {
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
        FONT-SIZE: 12pt;
        COLOR: #0066CC;
        TEXT-DECORATION: none;
}

/* aplication form */
b.red {
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
        FONT-SIZE: 12pt;
        COLOR: red;
}

b.title {
        FONT-FAMILY: Verdana Arial, Helvetica, sans-serif;
        FONT-SIZE: 14pt;
	line-height: 60px;
	text-align: center;

        COLOR: #0066CC;
}

table.resumeupload {
	TEXT-ALIGN: left;
	BORDER: 1px solid #cccccc;
	BACKGROUND: #FFFFFF;
	WIDTH: auto;
	HEIGHT: auto;
}

td.resumeupload {
	PADDING: 15px;
	BACKGROUND: #EFEFEF;
}

/* help section */
#helptitle {
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 14pt;
	COLOR: #2C2C2C;
	TEXT-ALIGN: center;
}

#helpSectionTitle {
        FONT-FAMILY: Verdana,Arial, Helvetica, sans-serif;
	FONT-SIZE: 14pt;
	COLOR: #2C2C2C;
	TEXT-ALIGN: left;
	MARGIN: 8px 0px 0px 0px;
}

#help {
        FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 12pt;
	COLOR: #2C2C2C;
	TEXT-ALIGN: left;
	PADDING: 2em;
}
#loading-div-background {
        display:none;
        position:fixed;
        top:0;
        left:0;
        background:#3651a4;
        width:100%;
        height:100%;
}

#loading-div {
         width: 600px;
         height: 200px;
         background-color: #ffffff;
         text-align:center;
         position:absolute;
         left: 50%;
         top: 50%;
         margin-left:-300px;
         margin-top: -200px;
}

