.openTrackBill {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.2);
        z-index: 9999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    	overflow-y: auto;
}

.openTrackBill:target {
        opacity:1;
        pointer-events: auto;
}

.openTrackBill > div {
        width: 700px;
        position: relative;
        margin: 5% auto;
        padding: 15px 20px 13px 20px;
        border-radius: 10px;
        background: #ffffff;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
	z-index: 1151 !important;
}

.closeTrackBill {
        background: #eeeeee;
        color: #ffffff;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
}

.closeTrackBill:hover {
        background: #555555;
        color: red;
}
.openDocuments {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.2);
        z-index: 9999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    	overflow-y: auto;
}

.openDocuments:target {
        opacity:1;
        pointer-events: auto;
}

.openDocuments > div {
        min-width: 700px;
        position: relative;
        margin: 5% auto;
        padding: 15px 20px 13px 20px;
        border-radius: 10px;
        background: #ffffff;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
	z-index: 1151 !important;
}

.closeDocuments {
        background: #eeeeee;
        color: #ffffff;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
}

.closeDocuments:hover {
        background: #555555;
        color: red;
}

.hasDatepicker {
    position: relative;
    z-index: 9999;
}

.openReport {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.2);
        z-index: 9999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    	overflow-y: auto;
}

.openReport:target {
        opacity:1;
        pointer-events: auto;
}

.openReport > div {
        width: 1150px;
        position: relative;
        margin: 5% auto;
        padding: 15px 20px 13px 20px;
        border-radius: 10px;
        background: #ffffff;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
	z-index: 1151 !important;
}

.closeReport {
        background: #eeeeee;
        color: #ffffff;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
}

.closeReport:hover {
        background: #555555;
        color: red;
}
