@media print {
	/**
	 * Requisitions Print Rules
	 */
	.ra-tab-content, .ra-tab-content * {
		visibility: visible;
	}
	.tab-content-tabs li {
	    visibility: hidden;
	}
	.ra-tab-content {
	    top: 400px;
	    visibility: hidden;
	}
	#wrapper #dashboard_page_title {
		display:none;
	}
	
	/**
	 * Applicants Rules
	 */
	#applicants-minified-search-results * {
		display:none;
   		margin: 0px;
	}
	#applicants-minified-search-results div {
		display:none;
   		margin: 0px;
	}
	
	#nav_previous, #nav_next, #applabelslist, 
	#applicant_actions, #thumbs_and_rating {
		display: none;
	}
	 
	#applicants-minified-search-results {
		visibility: hidden;
	}
}