.width150 {
	width:150px;
}
.width200 {
	width:200px;
}
.width-auto-inline {
	width:auto;
	display:inline;
}
#ui-datepicker-div {
	z-index: 1000 !important;
}
.form-group label.question_name {
	vertical-align:top;
	font-weight: normal !important;
	width: 100%;
	padding: 6px 0px 6px 2px;
}
@media ( min-width :768px) {
	.form-group {
		margin-bottom:5px;
	}
	.form-group label.question_name {
		width: 100%;
		padding: 8px;
		font-weight: normal;
	}
	.form-group .labels_auto {
		width:auto !important;
		font-weight: normal;
	}
}
.custom_table th, .custom_table td {
	padding: 5px;
}
.user_notification_msg_footer {
  position: fixed;
  width: 35%;
  right: 0;	
  bottom: 0;
  margin-bottom: 0px !important;
}
.user_notification_msg_footer_short {
  position: fixed;
  width: 3%;
  font-size: 0px;
  right: 0;	
  bottom: 0;
  margin-bottom: 0px !important;
}