/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
.highlight {
	border: 1px solid #C2D0ED;
	background-color: #C2D0ED;
}
.mdsortable {
	position: relative;
	/*height: 490px;*/
}
.checkbox_div {
	border: 1px solid #DDDDDD;
	padding: 10px;
}
#vertbarchartplaceholder,#horibarchartplaceholder {
	width: 100%;
	height: 300px;
}
.display_none {
	display: none;
}
.padding0 {
	padding: 0px;
}
.nav-tabs {
	margin-bottom: 20px;
}
#loading-div-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: #ffffff;
	width: 100%;
	height: 100%;
}
#loading-div {
	width: 100px;
	height: 100px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -300px;
}
#ui-datepicker-div {
	display: none;
}
.openForm {
	position: fixed;
	font-family: "Open Sans", Arial;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 9;
	opacity: 0;
	/*-webkit-transition: opacity 400ms ease-in;
 	-moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in; */
	pointer-events: none;
}
.openForm:target {
	opacity: 1;
	pointer-events: auto;
	width: 100%;
}
.openForm>div {
	width: 80%;
	position: relative;
	margin: 5% auto auto auto;
	padding: 0px 5px 5px 5px;
	border-radius: 10px;
	background: #ffffff;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 86%;
}
/* For WOTC */
.openDocuments {
	position: fixed;
	font-family: "Open Sans", Arial;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 9999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.openDocuments:target {
	opacity: 1;
	pointer-events: auto;
}
.openDocuments>div {
	width: 650px;
	position: relative;
	margin: 5% auto;
	padding: 15px 20px 13px 20px;
	border-radius: 10px;
	background: #ffffff;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.closeDocuments {
	background: #eeeeee;
	color: #ffffff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.closeDocuments:hover {
	background: #555555;
	color: red;
}
.panel-heading .fa {
	color: #fff;
}
.panel-heading .fa:hover {
	text-decoration: none;
}
#tcviewprevious, #tcviewnext, #tcviewtoday, #tcviewmonth, #tcviewweek, #tcviewday
{
	cursor: pointer;
}
.dashbaord_cal_active_view {
	background-color: grey;
	color: white;
}
.dashboard_calendar_date_label {
	font-weight: bold;
}