.dashboard_cal_top_navigation {
	border: 1px solid #999;
	border-collapse: collapse;
	margin: 4px 0px 5px 0px;
}

.dashboard_cal_top_navigation tr th {
	background-color: #f5f5f5;
	color: black;
	text-transform: uppercase;
	border: 1px solid #999;
}

.dashboard_cal_top_navigation tr th a {
	color: black;
	text-transform: uppercase;
}

.calendar_top_navigation {
	border: 1px solid #999;
	border-collapse: collapse;
	margin: 4px 0px 5px 0px;
}

.calendar_top_navigation tr th {
	background-color: #020934;
	color: white;
	text-transform: uppercase;
	border: 1px solid #999;
}

.calendar_top_navigation tr th a {
	color: white;
	text-transform: uppercase;
}

.calendar {
	border: 1px solid #999;
	border-collapse: collapse;
}

.calendar th {
	border: 1px solid #999;
	font-size: 11px;
	text-transform: uppercase;
	padding: 8px;
	background-color: #020934;
	letter-spacing: 1px;
	color: white;
	text-align: center;
}

.calendar td {
	border: 1px solid #999;
	padding: 5px;
	vertical-align: top;
}

.calendar .calendar-day {
	text-align: right;
	vertical-align: top;
}
/** List View **/
.calendar_listview td {
	min-height: 3em;
	vertical-align: top;
}
/** List View Fix Borders Issue **/
.calendar_listview .td1borderday {
	border-top: 1px solid #020934;
	border-bottom: 1px solid #020934;
	border-right: 1px solid #020934;
	border-left: 1px solid #020934;
}

.calendar_listview .td2borderday {
	border-top: 1px solid #020934;
	border-bottom: 1px solid #020934;
	border-right: 1px solid #020934;
}

.calendar_listview .td3borderday {
	border-top: 1px solid #020934;
	border-bottom: 1px solid #020934;
	border-right: 1px solid #020934;
}

.calendar_listview .td1borderdays {
	border-bottom: 1px solid #020934;
	border-right: 1px solid #020934;
	border-left: 1px solid #020934;
}

.calendar_listview .td2borderdays {
	border-bottom: 1px solid #020934;
	border-right: 1px solid #020934;
}

.calendar_listview .td3borderdays {
	border-bottom: 1px solid #020934;
	border-right: 1px solid #020934;
}

.calendar_listview .calendar-day {
	text-align: left;
}

.calendar_top_navigation_list {
	border: 1px solid #999;
	border-collapse: collapse;
	margin: 6px 0px 0px 0px;
}

.calendar_top_navigation_list tr th {
	background-color: #020934;
	color: white;
	text-transform: uppercase;
	border: 1px solid #999;
}

.calendar_top_navigation_list tr th a {
	color: white;
	text-transform: uppercase;
}
/*Style For Button*/
.custombutton {
	background-color: #f5f5f5;
	background: none;
	color: black;
	border: 1px solid grey;
}

.custombutton1 {
	background: none repeat scroll 0 0 #c9a7b6;
	color: white;
	border: 1px solid grey;
}
/** Styles For Pagination */
.pagination {
	margin: 30px 0px 20px 0px;
	text-align: center;
}

.pagination .pagenumber {
	padding: 6px;
	background: #1A95D0;
	color: white;
	margin: 2px;
}

.pagination .cpagenumber {
	padding: 6px;
	background: #ffbf52;
	color: #ffffff;
	margin: 2px;
}

.errormessage {
	color: red;
	text-align: center;
}

.delete_weighted_search_question {
	cursor: pointer;
	background: url("../images/icons/weight-cross.png") no-repeat;
	float: right;
	height: 16px;
	width: 16px;
}

.weighted_search_expand {
	cursor: pointer;
	background: url("../images/icons/weight-plus.png") no-repeat;
	float: right;
	height: 16px;
	width: 16px;
}

.weighted_search_collapse {
	cursor: pointer;
	background: url("../images/icons/weight-minus.png") no-repeat;
	float: right;
	height: 16px;
	width: 16px;
}

.error_text {
	border: 1px solid red;
}

/*
 #################################################################################
 ############################# Bar Graph Css
 #################################################################################
 */
#chart {
	width: 710px;
	height: 300px;
	margin: 30px auto 0;
	display: block;
	float: left;
}

#chart #numbers {
	width: 50px;
	height: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	float: left;
}

#chart #numbers li {
	text-align: right;
	padding-right: 1em;
	list-style: none;
	height: 29px;
	border-bottom: 1px solid #444;
	position: relative;
	bottom: 30px;
}

#chart #numbers li:last-child {
	height: 30px;
}

#chart #numbers li span {
	color: grey;
	position: absolute;
	bottom: 0;
	right: 10px;
}

#chart #bars {
	display: inline-block;
	background: #F5F5F5;
	width: 655px;
	height: 300px;
	padding: 0;
	margin: 0;
	box-shadow: 0 0 0 1px #999;
}

#chart #bars li {
	display: inline-block;
	width: 50px;
	height: 300px;
	margin: 0;
	text-align: center;
	position: relative;
	z-index: 9999;
}

#chart #bars li .bar {
	display: block;
	width: 35px;
	margin-left: 15px;
	background: #49E;
	position: absolute;
	bottom: 0;
}

#chart #bars li .bar:hover {
	background: #5AE;
	cursor: pointer;
}

#chart #bars li .bar:hover:before {
	color: grey;
	position: relative;
	bottom: 20px;
}

#chart #bars li span {
	color: grey;
	width: 100%;
	position: absolute;
	bottom: -2em;
	left: 0;
	text-align: center;
}

.tooltip {
	display: inline-block;
	background: rgba(0, 0, 0, .8);
	border-radius: 5px;
	color: #fff;
	position: absolute;
	z-index: 98;
	min-width: 200px;
	width: 100%;
	cursor: pointer;
	padding: 5px;
	text-align: left;
	float: left;
}

/* Calendar CSS */
#tcviewprevious,#tcviewnext,#tcviewtoday,#tcviewmonth,#tcviewweek,#tcviewday
	{
	cursor: pointer;
}

.dashbaord_cal_active_view {
	background-color: grey;
	color: white;
}

.dashboard_calendar_date_label {
	font-weight: bold;
}

.calendar th a {
	color: white;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

table  .inventory_info td {
	border-color: #E4EBED;
}

.cal_tableview_div_icon1 {
	width: 16px;
	height: 16px;
	float: left;
	text-align: left;
	margin-right: 2px;
}

.cal_tableview_div_icon2 {
	width: 16px;
	height: 16px;
	float: left;
	text-align: left;
	margin-right: 1px;
	margin-top: 1px;
}

.cal_listview_div_icon1 {
	width: 16px;
	height: 16px;
	float: left;
	text-align: left;
	margin-right: 2px;
}

.cal_listview_div_icon2 {
	width: 16px;
	height: 16px;
	float: left;
	text-align: left;
	margin-right: 1px;
	margin-top: 1px;
}

.cal_tableview_div_subject {
	width: 100%;
	text-align: left;
	margin-bottom: 4px;
}

.cal_tableview_div_time, .cal_dayview_div_time {
	float: left;
}

.clear_both_height {
	clear: both;
	height: 5px;
}

.clear_both {
	clear: both;
}


.reminder_img_time_block {
	text-align: left;
	float: left;
	width: 100%;
	margin-bottom: 4px;
}


.appointment_reminder_block {
	border-bottom: 1px solid #999;
	display: flex;
	padding: 5px 0;
	vertical-align: middle;
}


.cal_monthview_appointment_rem_block {
    display: inline;
    float: left;
    overflow: hidden;
    padding: 5px 0;
    vertical-align: middle;
    width: 100%;
}

.cal_weekview_appointment_rem_block {
    border-bottom: 1px solid #ded9d9;
    display: inline;
    float: left;
    margin: 1px 0;
    overflow: hidden;
    padding-bottom: 9px;
    vertical-align: middle;
    width: 100%;
}

.cal_dayview_appointment_rem_block {
    border-bottom: 1px solid #ded9d9;
    display: flex;
    float: left;
    margin: 1px;
    overflow: hidden;
    padding: 5px;
    vertical-align: middle;
    width: 100%;
}

.cal_dayview_div_subject {
	width: 70%;
	text-align: left;
	margin-bottom: 4px;
	float:left;
}

.cal_dayview_app_rem_img_time_wrapper {
    float: right;
    margin-bottom: 4px;
    text-align: right;
    width: auto;
}
/*
.appointment_reminder_block .cal_tableview_div_subject {
	float: left;
	padding-right: 15px;
	width: 50%;
}

.appointment_reminder_block  .reminder_img_time_block {
	width: auto;
	float: left;
}
*/