/* login, logout, help pages */
/* main body */
html * {
	MARGIN: 0px:
	PADDING: 0px;
}

body {
        FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 10pt;
	COLOR: #000000;
}

a {
        FONT-FAMILY: Arial, Helvetica, sans-serif;
        FONT-SIZE: 10pt;
        COLOR: #003399;
        TEXT-DECORATION: none;
}

/* aplication form */
b.red {
        FONT-FAMILY: Arial, Helvetica, sans-serif;
        FONT-SIZE: 10pt;
        COLOR: red;
}

b.title {
        FONT-FAMILY: Arial, Helvetica, sans-serif;
        FONT-SIZE: 12pt;
	line-height: 60px;
	text-align: center;

        COLOR: #555555;
}

table.resumeupload {
	TEXT-ALIGN: left;
	BORDER: 1px solid navy;
	BACKGROUND: #FFFFFF;
	WIDTH: auto;
	HEIGHT: auto;
}

td.resumeupload {
	PADDING: 15px;
	BACKGROUND: #EFEFEF;
}

/* help section */
#helptitle {
        FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12pt;
	COLOR: #000000;
	TEXT-ALIGN: center;
}

#helpSectionTitle {
        FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 10pt;
	COLOR: #000000;
	TEXT-ALIGN: left;
	MARGIN: 8px 0px 0px 0px;
}

#help {
        FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 9pt;
	COLOR: #000000;
	TEXT-ALIGN: left;
	PADDING: 2em;
}
#loading-div-background {
        display:none;
        position:fixed;
        top:0;
        left:0;
	background:#ffffff;
        width:100%;
        height:100%;
}
#loading-div {
         width: 100px;
         height: 100px;
         text-align:center;
         position:absolute;
         left: 50%;
         top: 50%;
         margin-left:-100px;
         margin-top: -300px;
}
