.navigation_menu {
	height: auto;
	background-color: #003399;
	color: #ffffff;
}

.navigation_menu ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

.navigation_menu ul a {
	display: block;
	color: #ffffff;
	background-color: #003399;
	text-decoration: none;
	line-height: 32px;
	padding: 0 15px;
}

.navigation_menu ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

.navigation_menu ul li.current-menu-item {
	background: #ddd
}

.navigation_menu ul li:hover {
	background-color: #3366CC;
}

.navigation_menu ul li a:hover {
	background-color: #3366CC;
}

.navigation_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 0
}

.navigation_menu ul ul li {
	float: none;
	width: 221px
}

.navigation_menu ul ul a {
	line-height: 120%;
	padding: 5px 10px;
	color: #ffffff;
}

.navigation_menu ul ul ul {
	top: 0;
	left: 100%
}

.navigation_menu ul li:hover>ul {
	display: block
}