/* main body */
html {
	margin: 0px 0px 0x 0px;
	padding: 0px 0px 0px 0px;
}

body {
	margin: 0px 0px 0x 0px;
	padding: 0px 0px 0px 0px;
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 10pt;
	COLOR: #000000;
}

a {
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 10pt;
	COLOR: #003399;
	TEXT-DECORATION: none; 
}

p {
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; 
        FONT-SIZE: 10pt;
        COLOR: #000000;
}

table th {
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; 
        FONT-SIZE: 10pt;
        COLOR: #000000;
        FONT-WEIGHT: bold;
}

table td {
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; 
        FONT-SIZE: 10pt;
        COLOR: #000000;
}

div.form table td {
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; 
	FONT-SIZE: 10pt;
}


div.navigation a {
	BORDER-BOTTOM: #003399 0px solid; 
	BORDER-LEFT: #003399 0px solid; 
	PADDING-BOTTOM: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; 
	LETTER-SPACING: 0.1em; 
	COLOR: #ffffff;
	FONT-SIZE: 10pt; 
	BORDER-TOP: #003399 0px solid; 
	FONT-WEIGHT: 500; 
	BORDER-RIGHT: #003399 0px solid; 
	TEXT-DECORATION: none; 
	PADDING-TOP: 1px
	Z-INDEX: 1;
}
.title  {
        FONT-WEIGHT: bold;
}

#dropmenudiv {
	Z-INDEX: 100; 
	BORDER-BOTTOM: #003399 0px solid; 
	POSITION: absolute; 
	BORDER-LEFT: #003399 1px solid; 
	LINE-HEIGHT: 18px; 
	TEXT-INDENT: 3px; 
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; 
	LETTER-SPACING: 0.1em; 
	COLOR: #ffffff; 
	FONT-SIZE: 10pt; 
	BORDER-TOP: #003399 1px solid; 
	BORDER-RIGHT: #003399 1px solid
}
#dropmenudiv a {
	BORDER-BOTTOM: #003399 1px solid; 
	PADDING-BOTTOM: 1px; 
	BACKGROUND-COLOR: #003399; 
	TEXT-INDENT: 0px; 
	PADDING-LEFT: 2px; 
	WIDTH: 100%; 
	PADDING-RIGHT: 2px; 
	DISPLAY: block; 
	LETTER-SPACING: 0.1em; 
	COLOR: #ffffff; 
	TEXT-DECORATION: none; 
	PADDING-TOP: 1px; leftmargin: 2
}
#dropmenudiv a:hover {
	BACKGROUND-COLOR: #3366CC; 
	COLOR: #ffffff;
}
#loading-div-background {
        display:none;
        position:fixed;
        top:0;
        left:0;
	background:#ffffff;
        width:100%;
        height:100%;
}

#loading-div {
         width: 100px;
         height: 100px;
         text-align:center;
         position:absolute;
         left: 50%;
         top: 50%;
         margin-left:-100px;
         margin-top: -300px;
}

.everify_comment p {
        margin:0px;
}

.openForm {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.2);
        z-index: 9999;
        opacity:0;
        /*-webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in; */
        pointer-events: none;
}

.openForm:target {
        opacity:1;
        pointer-events: auto;
        width:100%;
}

.openForm > div {
        width: 860px;
        position: relative;
        margin: 30px auto auto auto;
        padding: 0px 20px 15px 20px;
        border-radius: 10px;
        background: #ffffff;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 86%;
}
