/* main body */
html {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10pt;
	COLOR: #000000;
}

p {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10pt;
	COLOR: #000000;
}

table td {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10pt;
	COLOR: #000000;
}

a {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 10pt;
	COLOR: #003399;
	TEXT-DECORATION: none;
}

.title {
	FONT-WEIGHT: bold;
}

#navigation {
	TEXT-ALIGN: left;
	FONT-SIZE: 9pt;
}

#navigation a {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	COLOR: #000000;
	TEXT-DECORATION: none;
	PADDING-LEFT: 10px;
}

#navigation strong {
	display: block; '
	border: 1px solid red;
	padding: 0 0 8px;
}

#navigation a:hover {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	COLOR: #000000;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

#navbak {
	margin-top: 26px;
	/* background-image:url('/images/gradient-blue.png'); */
	/* background-color:#E6E6F5; */
	background-color: #000099;
	COLOR: #ffffff;
	/* height:30px; */
	vertical-align: middle;
	/* border-bottom: solid;
    border-width: 1px;
    border-color: #000099; */
}

#nav {
	padding-bottom: 6px;
	padding-top: 2px;
}

.nav {
	padding-left: 10px;
	line-height: 20px;
}

#loading-div-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: #ffffff;
	width: 100%;
	height: 100%;
}

#loading-div {
	width: 100px;
	height: 100px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -300px;
}

.everify_comment p {
	margin: 0px;
}

.openForm {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 9999;
	opacity: 0;
	/*-webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in; */
	pointer-events: none;
}

.openForm:target {
	opacity: 1;
	pointer-events: auto;
	width: 100%;
}

.openForm>div {
	width: 860px;
	position: relative;
	margin: 30px auto auto auto;
	padding: 0px 20px 15px 20px;
	border-radius: 10px;
	background: #ffffff;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 86%;
}
