.div-sidate {
	float:left;margin:2px;
}
.div-sihrs-simins-siampm {
	float:left;margin:2px;
}
.div-siest {
	float:left;margin:2px;
}
.table {
	padding:5px;
}
.table td {
	margin:5px;
}
.table tr td .height {
	height: 60;
}