@media print {
	[class*="col-sm-"] {
		float: left;
	}
	body {
		-webkit-print-color-adjust: exact;
	}
	* {
		margin: 0 !important;
		padding: 0 !important;
	}
	#controls,.footer,.footerarea {
		display: none;
	}
	a[href]:after {
		content: "" !important;
	}
	a.hidden-print-href[href]:after {
		content: none !important;
	}
	.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	    border: 0px solid #ddd;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	    border-top: 0px solid #ddd;
	}
}