@media print {
	/**
	 * Requisitions Print Rules
	 */
	 #wrapper #req_detail_header_info {
		visibility: visible;
	}
	#wrapper #applicant-detail-view,
	#wrapper #requisitions-minified-search-results
	{
		border: 0px !important;
	}
	.ra-tab-content, .ra-tab-content * {
	   visibility: visible;
	}
	.tab-content-tabs li {
	   visibility: hidden;
	}
	#wrapper #req_detail_pagination_navigation {
		display:none;
	}
	#wrapper #requisitions-minified-search-results div {
	  	border:1px solid red;
	  	display:none;
	}
	#wrapper #dashboard_page_title {
		display:none;
	}
	#wrapper #req_detail_pagination_navigation {
		display:none;
	}
	#wrapper #req_detail_social_nav {
		display:none;
	}
	#requisitions-minified-search-results br {
		display:none;
	}
	#wrapper #req_detail_header_info {
		display:block;
	}
	#advert_header_trafficboost, #advert_header_indeed, #advert_header_monster {
		display:none;
	}
}