/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans); */
body {
	background:#404040;
	font-size: 13px;
}
*{
	font-family:"Open Sans", Arial;
	
}
#wrapper {
	width: 100%;
}
#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}
@media(min-width:768px) {
	 #page-wrapper {
	 position: inherit;
	 margin: 0 0 0 200px;
	 padding: 0 30px;
	 border-left: 1px solid #e7e7e7;
	}
}
.navbar-top-links {
	margin-right: 0;
}
.navbar-top-links li {
	display: inline-block;
}
.navbar-top-links li:last-child {
	margin-right: 15px;
}
.navbar-top-links li a {
	margin: 5px 0;
	padding: 10px 15px;
}
.navbar-top-links .dropdown-menu li {
	display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
	padding: 3px 20px;
	min-height: 0;
}
.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
	width: 310px;
	min-width: 0;
}
.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}
.navbar-top-links .dropdown-user {
	right: 0;
	left: 10;
}
.navbar-static-top {
	z-index: 8;
}
.dropdown-menu {
	min-width: 190px;
}
.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}
.sidebar .sidebar-search {
	padding: 15px;
}
.sidebar ul li {
	border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a {
	color: #fff;
}
.sidebar .arrow {
	float: right;
}
.sidebar .fa.arrow:before {
	content: "\f104";
}
.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}
.sidebar .nav-second-level li, .sidebar .nav-third-level li {
	border-bottom: 0!important;
}
.sidebar .nav-second-level li a {
	color: #fff !important;
	padding-left: 16px;
}
.sidebar .nav-third-level li a {
	padding-left: 38px;
}

@media(max-width:500px) {
	textarea {
		width:100% !important;
	}
}

@media(min-width:768px) {
	.sidebar {
		 z-index: 1;
		 position: absolute;
		 width: 200px;
		 margin-top: 59px;
	}
	.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
	 	 margin-left: auto;
	}
}

@media (max-width: 767px) {
	.navbar-default {height:auto !important;}
}
.btn-outline {
	color: inherit;
	background-color: transparent;
 	transition: all .5s;
}
.btn-primary.btn-outline {
	color: #428bca;
}
.btn-success.btn-outline {
	color: #5cb85c;
}
.btn-info.btn-outline {
	color: #5bc0de;
}
.btn-warning.btn-outline {
	color: #f0ad4e;
}
.btn-danger.btn-outline {
	color: #d9534f;
}
.btn-primary.btn-outline:hover, .btn-success.btn-outline:hover, .btn-info.btn-outline:hover, .btn-warning.btn-outline:hover, .btn-danger.btn-outline:hover {
	color: #fff;
}
.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}
.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}
.chat li.left .chat-body {
	margin-left: 60px;
}
.chat li.right .chat-body {
	margin-right: 60px;
}
.chat li .chat-body p {
	margin: 0;
}
.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}
.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}
.login-panel {
	margin-top: 25%;
}
.flot-chart {
	display: block;
	height: 400px;
}
.flot-chart-content {
	width: 100%;
	height: 100%;
}
table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
	background: 0 0;
}
table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}
table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}
table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50, 50, 50, .5);
}
.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}
 .show-grid [class^=col-] {
 padding-top: 10px;
 padding-bottom: 10px;
 border: 1px solid #ddd;
 background-color: #eee!important;
}
.show-grid {
	margin: 15px 0;
}
.huge {
	font-size: 40px;
}
.panel-green {
	border-color: #5cb85c;
}
.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}
.panel-green a {
	color: #5cb85c;
}
.panel-green a:hover {
	color: #3d8b3d;
}
.panel-red {
	border-color: #d9534f;
}
.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}
.panel-red a {
	color: #d9534f;
}
.panel-red a:hover {
	color: #b52b27;
}
.panel-yellow {
	border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}
.panel-yellow a {
	color: #f0ad4e;
}
.panel-yellow a:hover {
	color: #df8a13;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover {
	color: #fff;
}
.nav .dropdown fa {
	color:#fff;
}
.sidebar .nav-second-level li, .sidebar .nav-third-level li {
	background: none repeat scroll 0 0 white;
}
#side-menu .fa {
	margin-right:5px;
}
#side-menu span {
	float:right;
}
#side-menu .sub-menu-angle-down {
	float:right;
}
.sidebar ul li {
	border-bottom: none;
	border-top: 1px solid #404040;
	background:#505050;
}
#side-menu li a:hover {
	color:#fff;
}
.nav.nav-second-level a {
	background-color: #fff;
	color: #fff;
}
#side-menu ul.nav-second-level li a {
	color:#000;
	background: #404040;
}
#side-menu ul.nav-second-level li a:hover {
	background:#575757;
	color:#000;
}
.sidebar .nav-second-level li, .sidebar .nav-third-level li {
	border-bottom: 0 none !important;
	border-top: 0 none !important;
}
 *::before, *::after {
 box-sizing: border-box;
}
*::before, *::after {
 box-sizing: border-box;
}
.panel-default {
	border-color: #ddd;
}
.dropdown-toggle.fa-user-icon {
	color: #fff;
}
.dropdown-menu {
	border-radius:0;
}
.table-borderless tr td, .table-borderless tbody tr td, .table-borderless tr th, .table-borderless tbody tr th {
	border: 0;
}
.table-borderless .vertical-align-middle {
	vertical-align: middle;
}
.input-text-box {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	font-size: 14px;
	height: 28px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.table-borderless tr {
	line-height: 25px;
	min-height: 25px;
	height: 25px;
}
.table-borderless h2 {
	font-size: 25px;
	margin:0px;
	padding:0px;
}
#side-menu a {
	font-size: 12px;
}
.nav > li > a {
	padding: 10px;
}
a:focus {
	outline:none;
}
.panel-heading i {
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
}
.panel-heading:hover i {
	transform:rotate(83deg);
	-moz-transform:rotate(83deg);
	-webkit-transform:rotate(83deg);
	-o-transform:rotate(83deg);
	font-size: 140px;
	opacity: 0.2;
}
.panel-heading:hover {
	cursor:pointer;
}
.panel-heading .huge {
	transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	position: absolute;
	right: 10px;
	top: 0px;
	font-size:35px;
}
.panel-heading:hover .huge {
	transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	font-size:45px;
	opacity: 0.6;
}
.page-header {
    display: block;
 	font-family:"Open Sans", Arial;
    font-size: 23px;
    font-weight: normal !important;
    margin: 13px 0 8px;
    color:#888888;
    padding: 25px 15px 15px 0;
}
.sidebar-toggle-box-menu {
    float: left;
    height: 60px;
    margin-right: 10px;
    padding: 0 10px;
     cursor: pointer;
}
.sidebar-toggle-box-menu .fa.fa-bars {
    font-size: 20px;
    padding: 20px;
}
#theme-change {
    background-color: #dcdcdc;
    color: #737373;
    height: 28px;
    overflow: hidden;
    padding: 5px 10px 5px 8px;
    position: fixed;
    right: 0;
    top: 70px;
    white-space: nowrap;
    width: 30px;
    z-index: 110;
}
#theme-change i {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-right: 2px;
    margin-top: 2px;
}
#theme-change .text {
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
}
#theme-change {
    color: #737373;
    white-space: nowrap;
}
#theme-change .colors {
    display: block;
}

#theme-change .colors .color-default {
    background-color: #4a8bc2;
}
#theme-change .colors span {
    border: 2px solid #ddd;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin: 2px 1px -7px;
    width: 35px;
}

#theme-change .colors .color-green {
    background-color: #74b749;
}

#theme-change .colors .color-gray {
    background-color: #767C73;
}

#theme-change .colors .color-purple {
    background-color: #7265ae;
}

#theme-change .colors .color-red {
    background-color: #C91B1B;
}
#theme-change .colors span.active, #theme-change .colors span:hover {
    border: 2px solid white;
}
#moduleslist .panel-heading 
{
	padding:7px 10px;
}
.calendardataview {
	text-align: center;
}
.div-sidate {
	float:left;width:auto;margin:2px;
}
.div-sihrs-simins-siampm {
	float:left;width:auto;margin:2px;
}
.div-sihrs-simins-siampm {
	float:left;width:auto;margin:2px;
}
.div-date-time-block {
	 height: 34px; line-height:34px;vertical-align: middle;
}
.width-auto {
	width:auto;
}
.margin-2px-left {
	margin-left: 4px;
}
#skillsTable {border-spacing: 8px 2px;}
#skillsTable td {padding: 4px; text-align: center;}
.form-group label.question_name {
	vertical-align:top;
	font-weight: normal;
	width: 100%;
	padding: 6px 0px 6px 2px;
}
@media ( min-width :768px) {
	.form-group {
		margin-bottom:5px;
	}
	.form-group label.question_name {
		width: 100%;
		padding: 8px;
		font-weight: normal;
	}
	.form-group .labels_auto {
		width:auto !important;
		font-weight: normal;
	}
}
.custom_table th, .custom_table td {
	padding: 5px;
}
#process_message_req_details {
	margin-bottom: 10px;
}
#req_detail_pagination_navigation {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.alert-warning-notification {
    color: #a94442;
    background-color: #f4d942;
    border-color: #f4d942;
}
