/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
body {
	background-color: #fff;
	font-family: 'sinkin_sans400_regular', Arial, sans-serif;
	font-size: 11px;
}

@font-face {
	font-family: 'sinkin_sans400_regular';
	src: url('../fonts/SinkinSans-400Regular-webfont.eot');
	src: url('../fonts/SinkinSans-400Regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/SinkinSans-400Regular-webfont.woff') format('woff'),
		url('../fonts/SinkinSans-400Regular-webfont.ttf') format('truetype'),
		url('../fonts/SinkinSans-400Regular-webfont.svg#sinkin_sans400_regular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

#wrapper {
	width: 100%;
}

#page-wrapper {
	padding: 0 0px;
	min-height: 568px;
	background-color: #fff;
}

@media(max-width:500px) {
	textarea {
		width:100% !important;
	}
}

@media ( min-width :768px) {
	#page-wrapper {
		background: #efefef none repeat scroll 0 0;
		border-bottom: 1px solid #ddd;
		border-left: 1px solid #ddd;
		margin: 0 0 0 280px;
		padding: 5px;
		position: inherit;
		border-left: 1px solid #ddd;
	}
}

.navbar-top-links {
	margin-right: 0;
}

.navbar-top-links li {
	display: inline-block;
}

.navbar-top-links li:last-child {
	margin-right: 15px;
}

.navbar-top-links li a {
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	min-height: 35px;
	padding: 10px;
}

.navbar-top-links li a:hover {
	color: #fff;
	background-color: #428bca;
}

.nav .open>a,.nav .open>a:hover,.nav .open>a:focus {
	background-color: #428bca;
	border-color: #428bca;
}

.navbar-top-links .dropdown-menu li {
	display: block;
	margin: 5px;
	border-radius: 5px;
	border:1px solid #D5D5D5;
}

/*
.navbar-top-links .dropdown-menu li:last-child {
	margin-right: 0;
}*/

.navbar-top-links .dropdown-menu li a {
	padding: 5px 10px;
	min-height: 0;
	color: #464646;
	overflow:hidden;
}

.navbar-top-links .dropdown-menu li a:hover {
	padding: 5px 10px;
	background-color: #f9f9f9;
	color: #000000;
	border-radius: 5px;
	border:1px solid #D5D5D5;
}

.dropdown-menu {
	border-radius: 0;
	margin: 0;
	width:300px;
}

.dropdown-menu .divider {
	margin: 0;
}

.navbar-top-links .dropdown-menu li a div {
	white-space: normal;
}

.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts
{
	width: 310px;
	min-width: 0;
}

.navbar-top-links .dropdown-messages {
	margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
	margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
	margin-left: -123px;
}
/*
.navbar-top-links .dropdown-user {
	right: 0;
	left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
	padding-right: 0;
	padding-left: 0;
}

.sidebar .sidebar-search {
	padding: 15px;
}

.sidebar ul li {
	border: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
	background-color: #eee;
}

.sidebar-nav ul li {
	border-radius: 25px;
	border:1px solid #e7e7e7;
	height:50px;
}*/

.sidebar .arrow {
	float: right;
}

.sidebar .fa.arrow:before {
	content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
	content: "\f107";
}

.sidebar .nav-second-level li,.sidebar .nav-third-level li {
	border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
	padding-left: 18px;
	text-transform: capitalize !important;
}

.sidebar .nav-third-level li a {
	padding-left: 52px;
}

@media ( min-width :768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 280px;
		margin-top: 52px;
	}
	.navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-tasks,.navbar-top-links .dropdown-alerts
	{
		margin-left: auto;
	}
}

.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}

.btn-primary.btn-outline {
	color: #428bca;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-info.btn-outline {
	color: #5bc0de;
}

.btn-warning.btn-outline {
	color: #f0ad4e;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-primary.btn-outline:hover,.btn-success.btn-outline:hover,.btn-info.btn-outline:hover,.btn-warning.btn-outline:hover,.btn-danger.btn-outline:hover
{
	color: #fff;
}

.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
}

.panel .slidedown .glyphicon,.chat .glyphicon {
	margin-right: 5px;
}

.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}

.login-panel {
	margin-top: 25%;
}

.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled
	{
	background: 0 0;
}

table.dataTable thead .sorting_asc:after {
	content: "\f0de";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
	content: "\f0dd";
	float: right;
	font-family: fontawesome;
}

table.dataTable thead .sorting:after {
	content: "\f0dc";
	float: right;
	font-family: fontawesome;
	color: rgba(50, 50, 50, .5);
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.428571429;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
	font-size: 18px;
	line-height: 1.33;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}

.show-grid [class^=col-] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #eee !important;
}

.show-grid {
	margin: 15px 0;
}

.huge {
	font-size: 40px;
}

.panel-green {
	border-color: #5cb85c;
}

.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}

.panel-green a {
	color: #5cb85c;
}

.panel-green a:hover {
	color: #3d8b3d;
}

.panel-red {
	border-color: #d9534f;
}

.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}

.panel-red a {
	color: #d9534f;
}

.panel-red a:hover {
	color: #b52b27;
}

.panel-yellow {
	border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}

.panel-yellow a {
	color: #f0ad4e;
}

.panel-yellow a:hover {
	color: #df8a13;
}

.navbar-default .navbar-brand {
	color: #fff;
}

#side-menu li a {
	border:1px solid #e7e7e7;
	border-radius:5px;
	margin-bottom: 1px;
}

#side-menu a {
	background: #fcfcfc none repeat scroll 0 0;
	color: #464646;
	font-size: 10px;
	padding:12px;
	text-transform: uppercase;
}

#side-menu a:hover {
	background: #ededed;
}

#side-menu i {
	font-size: 12px;
}

b,strong {
	font-weight: 600;
}

.page-container {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ddd;
	padding: 0;
}

.page-header {
	background-color: #fafbfc;
	border-bottom: 1px solid #cfdbe2;
	font-size: 18px;
	margin: 0 0 10px;
	padding: 15px;
	color: #7e7e7e;
}

.table-striped>tbody>tr:nth-child(2n+1) {
	background-color: transparent;
}

hr {
	border-color: #AFB8BC -moz-use-text-color -moz-use-text-color;
}

.table {
	width:100%;
	margin: 0px;
}


.table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td
{
	border: 0 none;
	vertical-align: top;
	padding: 5px 5px;
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],select
{
	background-clip: padding-box !important;
	border: 1px solid #d5d5d5;
	border-radius: 0 !important;
	box-shadow: none;
	color: #858585;
	font-family: inherit;
	transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
	font-size: 12px;
	padding: 6px 12px;
	resize: vertical;
}

input[type="file"]
{
	background-clip: padding-box !important;
	box-shadow: none;
	color: #858585;
	font-family: inherit;
	transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
	font-size: 12px;
	resize: vertical;
	display: inline;
	vertical-align: top;
}

textarea:hover,select:hover,input[type="text"]:hover,input[type="password"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,input[type="date"]:hover,input[type="month"]:hover,input[type="time"]:hover,input[type="week"]:hover,input[type="number"]:hover,input[type="email"]:hover,input[type="url"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="color"]:hover
	{
	border-color: rgba(0, 0, 0, 0.2);
}

textarea:focus,select:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus
	{
	background-color: #fff;
	border-color: rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	color: #262626;
	outline: 0 none;
}

.table-bordered {
	border: 0;
	/*	margin-bottom: 0; */
}

#zipmsg>img {
	padding-left: 5px;
}

.table p {
	line-height: 20px;
}

button,input[type=submit],input[type=button] {
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	margin: 0;
	position: relative;
	transition: all 0.15s ease 0s;
	vertical-align: middle;
	background-color: #5db2ff;
	color: #fff;
	padding: 10px 15px;
	border: 1px solid #4ea2ef;
}

button:hover,input[type=submit]:hover,input[type=button]:hover {
	background-color: #4ea2ef;
	border: 1px solid #5db2ff;
}

footer {
	padding: 10px 0;
	text-align: center;
}


.page-inner {
	padding: 10px 30px;
}

@media ( min-width :768px) {
	.page-inner {
		padding: 10px 40px;
	}
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus
	{
	color: #fff;
}

.nav>li>a>img {
	background: #fff;
	border: 1px solid #2b3c9a;
	max-width: none;
	padding: 1px;
	width: 30px;
}

.hiring a {
	display: inline-block;
	padding: 5px;
}

#loading-div-background {
        display:none;
        position:fixed;
        top:0;
        left:0;
	background:#ffffff;
        width:100%;
        height:100%;
}
#loading-div {
         width: 100px;
         height: 100px;
         text-align:center;
         position:absolute;
         left: 50%;
         top: 50%;
         margin-left:-100px;
         margin-top: -300px;
}
.width160 { width:160px !important;}
.width150 { width:150px;}
.width120 { width:120px;}
.table tr td .valign-top { vertical-align: top;}
.table tr td .valign-middle { vertical-align: middle;}
.table tr td .valign-bottom { vertical-align: bottom;}
.application tr td div {padding:5px;}
.form-control-file {
    background-color: #fff;
    background-image: none;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

/*
#################
Css for steps
#################
*/
.numberSideText {
    background: #eee none repeat scroll 0 0;
    border: 1px solid green;
    color: green !important;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    height: 47px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    width: 460px;
}
.numberSideText a {
	color: green !important;
}
.numberSideCompletedText {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid grey;
    color: grey;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    height: 47px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    width: 460px;
}
.numberSideCompletedText a {
	color: grey !important;
}

.numberLine {
    margin-left:6px;
    width: 40px;
    font-weight: bold;
    color: green;
    text-align: center;
    line-height: 80%;
    clear: both;
}
.arrow-down {
    margin-left:16px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid green;
}
.formText {
    padding-top:10px;
}
.width-auto-inline {
	width:auto;
	display:inline;
}
.form-group label {
	vertical-align:top;
	text-align: left;
	font-weight: normal;
	width: 100%;
	padding: 4px 0px 4px 2px;
}
@media ( min-width :768px) {
	.form-group {
		margin-bottom:5px;
	}
	.form-group label {
		width: 100%;
		padding: 4px;
		font-weight: normal;
	}
	.form-group .labels_auto {
		width:auto !important;
		font-weight: normal;
	}
}
.custom_table th, .custom_table td {
	padding: 5px;
}