/* Generic Selectors */
 
body {
   margin:0px; 
   /*padding: 10px 0 0 20px; */
   font-family: Arial, Helvetica;
   font-size: 12px;
   background-color: #FFFFFF;
}

/**************** Pseudo classes ****************/
 
a:link {
   color: #555555;
   text-decoration: none;
}
 
a:visited {
   color: #555555;
   text-decoration: none;
}
 
a:hover {
   color: #555555;
   text-decoration: underline;
   font-weight: bold;
   font-style: normal;
}

a:active {
   color: #555555;
   font-weight: bold;
   font-style: normal;
}
 
/******************** DISPLAY ********************/

#navigation {
   float:left;
   width:250px;
}

#content {
   vertical-align: top;
   margin-top:10px;
   margin-left:60px;
}

#Parent select {
   width:120px;
}
