.display_none {
	display: none;
}
#loading-div-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: #ffffff;
	width: 100%;
	height: 100%;
}
#loading-div {
	width: 100px;
	height: 100px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -300px;
}
.openForm {
	position: fixed;
	font-family: "Open Sans", Arial;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 9;
	opacity: 0;
	/*-webkit-transition: opacity 400ms ease-in;
 	-moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in; */
	pointer-events: none;
}
.openForm:target {
	opacity: 1;
	pointer-events: auto;
	width: 100%;
}
.openForm > div {
	width: 80%;
	position: relative;
	margin: 5% auto auto auto;
	padding: 0px 5px 5px 5px;
	border-radius: 10px;
	background: #ffffff;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 86%;
}
/* For WOTC */
.openDocuments {
	position: fixed;
	font-family: "Open Sans", Arial;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 9999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.openDocuments:target {
	opacity: 1;
	pointer-events: auto;
}
.openDocuments > div {
	width: 650px;
	position: relative;
	margin: 5% auto;
	padding: 15px 20px 13px 20px;
	border-radius: 10px;
	background: #ffffff;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.closeDocuments {
	background: #eeeeee;
	color: #ffffff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.closeDocuments:hover {
	background: #555555;
	color: red;
}