.application_steps {
    list-style: none;
    overflow: hidden;
    padding: 0;
}
.application_steps li {
    float: left;
    margin: 1px 1px 1px 1px;
}
.application_process_content {
	padding-top:10px;
	padding-bottom:10px;	
}
.btnDisabled {
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	margin: 0;
	position: relative;
	transition: all 0.15s ease 0s;
	vertical-align: middle;
	background-color: #b8c2cc !important;
	color: #fff;
	padding: 10px 15px;
	border: 1px solid #b8c2cc !important;
}
@media (max-width: 767px) {
	.application_steps {
	    list-style: none;
	    overflow: hidden;
	    padding: 0;
	}
	.application_steps li {
	    float: left;
	    margin: 1px 1px 1px 1px;
	    width: 100%;
	}
}