/* main body */
html * {
  margin: 0px:
  padding: 0px;
}

body {
  font-family: Arial, Helvitica;
  font-size: 10pt;
}

#header {
   height:90px;
   padding: 10px 0px 0px 25px;
   background-color: #FFFFFF;
   width:800px;
}

#content {
  text-align: left;
  text-valign: top;
  min-height: 400px;
}

#copyright {
   clear: both;
   font-size: 8pt;
   padding: 5px 0 5px 0;
   font-size: 11px;
   background-color: #FFFFFF;
   text-align:center;
}

div.leftside {
  float: left;
}

ul.hang {
margin: 0;
padding-left: 30px;
list-style: lower-alpha;
}

td {
  padding: 5px;
}
